* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.row {
    width: 100%;
    clear: both;
    display: inline-block;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*='col-'] {
    float: left;
}

a {
    text-decoration: none;
}

header {
    background-color: white;
    height: 60px;
    box-shadow: white;
}

header>div {
    height: 60px;
    line-height: 60px;
}

header>div.LogoDiv {}

header>div.LogoDiv>img {
    height: 100%;
    width: auto;
}

header>div.LinksDiv {
    text-align: right;
    padding-right: 15px;
}


/* NAV BAR */

nav {
    text-align: center;
    margin-top: 18px;
}

nav>div {
    text-align: center;
}

nav>div>ul {
    border: 0px solid green;
    display: flex;
    justify-content: center;
}

nav>div>ul>li {
    list-style: none;
    display: inline-block;
    padding: 8px 17px;
    margin: 0px 4px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
}

nav>div>ul>li:hover {
    background-color: darkorange;
}

nav>div>ul>li>a {}


/* NAV BAR */


/* SLIDER */

.sliderpart {
    height: 300px;
    width: 50%;
    border: 2px solid green;
    margin: 30px auto;
    position: relative;
}

.sliderpart>* {
    position: absolute;
}

.sliderpart>img {
    height: 100%;
    width: 100%;
}

.sliderpart>button {
    top: 140px;
    width: 90px;
    padding: 7px 13px;
    background-color: darkred;
    border: 0px solid darkred;
    color: orange;
    opacity: 0.9;
    cursor: pointer;
}

.sliderpart>button.Previous {
    left: 10px;
}

.sliderpart>button.Next {
    right: 10px;
}


/* SLIDER */


/* LATEST PRODUCTS */

.products {
    width: 80%;
    margin: auto;
    border: 0px solid darkred;
}

.products>div.row {
    border: 0px solid blue;
}

.products>div.row>div {
    border: 0px solid orange;
    text-align: center;
    height: 325px;
    padding: 15px;
}

.products>div.row>div>.product {
    border: 3px solid whitesmoke;
}

.products>div.row>div>.product:hover {
    box-shadow: 0px 0px 2px 2px lightgray;
}

.products>div.row>div>.drink {
    border: 3px solid whitesmoke;
}

.products>div.row>div>.drink:hover {
    box-shadow: 0px 0px 2px 2px lightgray;
}

.products>div.row>div>.product>img {
    height: 100%;
    width: auto;
    min-height: 150px;
    max-height: 200px;
}

.products>div.row>div>.drink>img {
    height: 60%;
    width: 60%;
    min-height: 70px;
    max-height: 170px;
}

.products>div.row>div>.product>.price {
    color: orange;
    font-size: 14px;
    margin: 5px;
}

.products>div.row>div>.drink>.price {
    color: orange;
    font-size: 14px;
    margin: 5px;
}

.products>div.row>div>.product>h2 {
    margin-bottom: 5px;
}

.products>div.row>div>.drink>h2 {
    margin-bottom: 5px;
}

.products>div.row>div>.product>button:hover {
    background-color: orange;
}

.products>div.row>div>.product>button {
    background-color: white;
    padding: 10px 15px;
    border: 1px solid goldenrod;
}

.products>div.row>div>.drink>button:hover {
    background-color: orange;
}

.products>div.row>div>.drink>button {
    background-color: white;
    padding: 10px 15px;
    border: 1px solid goldenrod;
}